footer {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    background: var(--black);
    height: 200px;
    overflow-x: auto;
}
.contact {
    display: flex;
    padding: 1rem;
    
}
.footer-item {
    padding: 0 1rem;
    letter-spacing: 1px;
    user-select: text;
    
}

.copy {
    font-size: 1rem;
}


/* Scroll top */

.fooldal-top {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 100%;  
  border: 2px solid var(--orange);
  bottom: 10px;
  right: 10px;
}

.fa-chevron-up {
  color: var(--orange);
  
}
  .fa-chevron-up:hover {
    color: whitesmoke;

  }

 @media screen and (max-width: 992px) {
    footer {
      margin: 0;
    }
 }

 @media screen and (max-width: 700px) {
    .contact {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
 }

 @media screen and (max-width: 566px) {


    .footer-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer-item {
        display: block;
    }
 }
 
 @media screen and (max-width: 456px) {
    .footer-item {
        font-size: 0.8rem;
    }
    .fooldal-top a {
     display: none;
    }
 }
 