.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    height: 50vh;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 10;
    background: var(--black);
}

.myimage {
    display: block;
    width: 250px;
    border-radius: 100%;
    border:  2px solid var(--orange);
    margin: 3rem auto 2rem auto;
    
}

.name {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
}
.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
}

.nav-list-item {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

a:hover {
    color: var(--orange);
    transition: 0.2s;
}

.social-icons {
    display: flex;
    
}

.social-icon-item {
    padding: 1rem;
    
}

.fa-brands {
    color: var(--gray);
    font-size: 1.4rem;
}

.fa-facebook-f:hover {
    color: #1778F2;
}

.fa-linkedin-in:hover {
    color: #006192;
}

.fa-github:hover { 
    color: #FFFFFF;
}
.fa-twitter:hover {
    color: #1DA1F2;
}

/* HAMBURGER MENU */

.nav-checkbox {
    display: none;
}


@media screen and (max-width: 992px) {
.main {
    margin-left: 0px;
    width: 100%;
}

 .nav-menu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    z-index: 15;
}
.myimage {
    display: none;
 }
    

.name {
    font-size: 1rem;
    margin: 1rem;
}

.nav-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 5vw;
}

.nav-checkbox__gomb {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-right: 2rem;
    
}

.nav-checkbox__vonal {
    width: 25px;
    height: 3px;
    background: whitesmoke;
  
}

.nav-list {
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    top:-200px;
    background: var(--black);
    width: 100%;
    transition: 0.4s, visibility 0.4s;
}


.nav-checkbox:checked ~ .nav-list {
    visibility: visible;
    top: 70px;
    
}



.nav-list-item {
    margin: 0 auto;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    font-weight: 500;
}

}

@media screen and (max-width: 456px) {
    .social-icon-item {
        padding: 0.5rem;
    }
    .fa-brands {
        font-size: 1rem;
    }
}

