.kapcsolat {
    width: 450px;
    margin: 5rem auto;
    font-size: 5rem;
    border-bottom: 2px solid var(--orange);
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    gap: 30px;
    color: var(--black);
    margin: 4rem auto;
}

.inputBox {
    position: relative;
    width: 80%;
    
  }
  
.inputBox input,
.inputBox textarea {
    color: var(--black);
    width: 100%;
    padding: 10px;
    border: 2px solid var(--orange);
    background: var(--platinum);
    outline: none;
    font-size: 1rem;
    transition: 0.5s;
  }
  
  .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.5s;
    color: var(--black);
    
  }
  
  .inputBox input:valid ~ span,
  .inputBox input:focus ~ span,
  .inputBox textarea:valid ~ span,
  .inputBox textarea:focus ~ span {
    color: var(--black);
    transform: translateX(10px) translateY(-7px); 
    font-size: 0.65rem; 
    padding: 0 10px;
    background: var(--platinum);
    border-left: 1px solid var(--orange);
    border-right: 1px solid var(--orange);
    letter-spacing: 0.2rem;
  }



[type="submit"] {
    display: block;
    width: fit-content;
    font-size: 1.4rem;
    text-align: center;
    margin: 2rem auto 0 auto;
    padding: 1rem 3rem;
    border: 2px solid var(--orange);
    color: var(--orange);
    background: none;
}

[type="submit"]:hover {
    background-color: var(--orange);
    color: whitesmoke;
    transition: 0.4s;
    
}

@media screen and (max-width: 700px) {
    .kapcsolat {
        font-size: 3rem;
        width: 300px;
    }
    .form {
        margin: 2rem auto;
        width: 80%;

    }
}
@media screen and (max-width: 566px) {
    .kapcsolat {
            font-size: 3rem;
            
    }
   
    .inputBox input,
    .inputBox textarea {
        font-size: 1rem;
        padding: 0.5rem;
       
    }
} 