.projects-header {
    width: 400px;
    padding-top: 4rem;
    margin: 0 auto;
    font-size: 5rem;
    border-bottom: 2px solid var(--orange);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.project-title {
    padding: 5rem 3rem 1rem 3rem;
}

.project-item {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
}

.project-img {
    max-width: 500px;
    filter: grayscale(50%);
    padding: 0.8rem;
    outline: 3px solid var(--black);
}

p {
    display: block;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .projects-header {
        
        font-size: 3rem;
        width: 275px;
    }

}

@media screen and (max-width: 566px) {
     
    .project-img {
        max-width: 100%;
        filter: grayscale(50%);
        padding: 0.8rem;
        outline: 3px solid var(--black);
    }


}